[defaults]
inventory = ansible/inventory/hosts.ini
local_tmp = .ansible/tmp
remote_tmp = /tmp/.ansible-${USER}
host_key_checking = False
retry_files_enabled = False
interpreter_python = /usr/bin/python3
private_key_file = ~/.ssh/id_ed25519_github

[ssh_connection]
pipelining = True
control_path_dir = .ansible/cp
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15 -o ServerAliveCountMax=3
